node_modules

# Output
.output
.vercel
/.svelte-kit
/build
/static/docs/privacy.html
/static/docs/tos.html

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
!.env.development
!.env.production

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
